/* Add CSS styling below */

* {
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
}

h1 {
    font-family: Georgia;
    color: #954535;
}

h2 {
    margin: 10px auto;
}

body{
    color: black;
}

li {
    color: black;
}

.recipe-link-container{
    border: 10px #954535;
    background-color: darkslategray;
    padding: 40px;
    margin: 8px;
}


.recipe-link {
    color: antiquewhite;
    font-size: 24px;
}

.main-image-container { 
    background-color: bisque;
    padding: 50px;
    width: 20px;
}

.recipe-main-image {
    width: 250px;
}

